<script type="text/javascript" src="/javascripts/zepto.min.js"></script>
<script type="text/javascript" src="/javascripts/restas.js"></script>

<span id="titulo">!!!! A RESTAR !!!!</span>
<span id='marcador'>
&nbsp;&nbsp;&nbsp;Bien: <span id="marc_ok">0</span> - Mal: <span id="marc_nok">0</span>
</span>

<p><br>

<div id='texto'>
<span id="op"></span>
<input type="text" id="res" value="" size="3" maxlength="3" />
<button type="button" id="btnComprobar"> Comprobar </button>
</div>

<p><br>
<div id='res_txt_ok'></div>
<div id='res_txt_nok'></div>
<div id='res_txt_aviso'></div>

<p><br>
<div id="nueva">
<button type="button" id="btnNueva"> Nueva Resta </button>
</div>